web/WEB-INF/wsdl/192.168.43.103_8580/ServicioU.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:complexType name="dtContieneArray">
<xs:sequence>
<xs:element name="myarreglo" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombreArray" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuarioWeb">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="bio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pagWeb" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pass" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="puntaje" type="xs:int"></xs:element>
<xs:element name="rol" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtarregloDtSigoAWEB">
<xs:sequence>
<xs:element name="arregloSigoAusu" type="tns:dtSigoAWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtSigoAWeb">
<xs:sequence>
<xs:element name="nickusuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombrecompleto" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="rol" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtarregloDtUsuWeb">
<xs:sequence>
<xs:element name="listaUsuarios" type="tns:dtUsuarioWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPropuestaWeb">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="colaboradores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaRealizacion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechapublicada" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lugar" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="montoactual" type="xs:int"></xs:element>
<xs:element name="montorequerido" type="xs:int"></xs:element>
<xs:element name="precioentrada" type="xs:int"></xs:element>
<xs:element name="proponente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="retorno" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="titulo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtFechaWeb">
<xs:sequence>
<xs:element name="anio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="mes" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>