web/WEB-INF/wsdl/192.168.43.103_8780/ServicioC.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ServicioContColabiracion">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://192.168.43.103:8780/ServicioC?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarColaboraciones">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarColaboracionesResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="despublicar"></message>
<message name="despublicarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="registrarPago">
<part name="nick" type="xsd:string"></part>
<part name="titulo" type="xsd:string"></part>
<part name="pago" type="tns:dtPagoWeb"></part>
</message>
<message name="registrarPagoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="armarRetorno">
<part name="cbe" type="xsd:string"></part>
<part name="cbp" type="xsd:string"></part>
</message>
<message name="armarRetornoResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="listarMisColaboraciones">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarMisColaboracionesResponse">
<part name="return" type="tns:dtarregloDtColCompWeb"></part>
</message>
<message name="hola"></message>
<message name="holaResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="registrarColaboracion">
<part name="tituloProp" type="xsd:string"></part>
<part name="nick" type="xsd:string"></part>
<part name="monto" type="xsd:int"></part>
<part name="retorno" type="xsd:string"></part>
</message>
<message name="registrarColaboracionResponse"></message>
<portType name="WebServiceContColaboracion">
<operation name="listarColaboraciones">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/listarColaboracionesRequest" message="tns:listarColaboraciones"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/listarColaboracionesResponse" message="tns:listarColaboracionesResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="despublicar">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/despublicarRequest" message="tns:despublicar"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/despublicarResponse" message="tns:despublicarResponse"></output>
</operation>
<operation name="registrarPago" parameterOrder="nick titulo pago">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/registrarPagoRequest" message="tns:registrarPago"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/registrarPagoResponse" message="tns:registrarPagoResponse"></output>
</operation>
<operation name="armarRetorno" parameterOrder="cbe cbp">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/armarRetornoRequest" message="tns:armarRetorno"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/armarRetornoResponse" message="tns:armarRetornoResponse"></output>
</operation>
<operation name="listarMisColaboraciones">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/listarMisColaboracionesRequest" message="tns:listarMisColaboraciones"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/listarMisColaboracionesResponse" message="tns:listarMisColaboracionesResponse"></output>
</operation>
<operation name="hola">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/holaRequest" message="tns:hola"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/holaResponse" message="tns:holaResponse"></output>
</operation>
<operation name="registrarColaboracion" parameterOrder="tituloProp nick monto retorno">
<input wsam:Action="http://WebServices/WebServiceContColaboracion/registrarColaboracionRequest" message="tns:registrarColaboracion"></input>
<output wsam:Action="http://WebServices/WebServiceContColaboracion/registrarColaboracionResponse" message="tns:registrarColaboracionResponse"></output>
</operation>
</portType>
<binding name="WebServiceContColaboracionPortBinding" type="tns:WebServiceContColaboracion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarColaboraciones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="despublicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="registrarPago">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="armarRetorno">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarMisColaboraciones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="hola">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="registrarColaboracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioContColabiracion">
<port name="WebServiceContColaboracionPort" binding="tns:WebServiceContColaboracionPortBinding">
<soap:address location="http://192.168.43.103:8780/ServicioC"></soap:address>
</port>
</service>
</definitions>