web/WEB-INF/wsdl/192.168.43.103_8680/ServicioP.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:complexType name="dtPropuestaWeb">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="colaboradores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaRealizacion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechapublicada" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lugar" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="montoactual" type="xs:int"></xs:element>
<xs:element name="montorequerido" type="xs:int"></xs:element>
<xs:element name="precioentrada" type="xs:int"></xs:element>
<xs:element name="proponente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="retorno" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="titulo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtarregloDtPropWeb">
<xs:sequence>
<xs:element name="arregloPropuestas" type="tns:dtPropuestaWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtContieneArray">
<xs:sequence>
<xs:element name="myarreglo" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombreArray" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtFechaWeb">
<xs:sequence>
<xs:element name="anio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="mes" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtHoraWeb">
<xs:sequence>
<xs:element name="hora" type="xs:int"></xs:element>
<xs:element name="horaC" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="minuto" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>