src/conf/xml-resources/web-service-references/ServicioP/wsdl/192.168.43.103_8680/ServicioP.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ServicioContPropuesta">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://192.168.43.103:8680/ServicioP?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="altaPropuesta">
<part name="dtpropuesta" type="tns:dtPropuestaWeb"></part>
</message>
<message name="altaPropuestaResponse"></message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="despublicar"></message>
<message name="despublicarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="extenderFinanciacionProp">
<part name="titulo" type="xsd:string"></part>
</message>
<message name="extenderFinanciacionPropResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="listarPropColaboradas">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarPropColaboradasResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="comentar">
<part name="nick" type="xsd:string"></part>
<part name="tituloP" type="xsd:string"></part>
<part name="comentario" type="xsd:string"></part>
</message>
<message name="comentarResponse"></message>
<message name="misPropAceptadas">
<part name="nick" type="xsd:string"></part>
</message>
<message name="misPropAceptadasResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="misPropIngresadas">
<part name="nick" type="xsd:string"></part>
</message>
<message name="misPropIngresadasResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="construirDtFecha">
<part name="fecha" type="xsd:string"></part>
</message>
<message name="construirDtFechaResponse">
<part name="return" type="tns:dtFechaWeb"></part>
</message>
<message name="listarTodasLasPropuestas">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarTodasLasPropuestasResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="listarMisPropuestasFavoritas">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarMisPropuestasFavoritasResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="agregarPropComoFav">
<part name="nick" type="xsd:string"></part>
<part name="titulo" type="xsd:string"></part>
</message>
<message name="agregarPropComoFavResponse"></message>
<message name="agregarEstAPropW">
<part name="estado" type="xsd:string"></part>
<part name="titulo" type="xsd:string"></part>
</message>
<message name="agregarEstAPropWResponse"></message>
<message name="listarPropuestasWeb"></message>
<message name="listarPropuestasWebResponse">
<part name="return" type="tns:dtarregloDtPropWeb"></part>
</message>
<message name="propuestasParaCancelar">
<part name="nick" type="xsd:string"></part>
</message>
<message name="propuestasParaCancelarResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="listaCategorias"></message>
<message name="listaCategoriasResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="listarPropEnCategoria">
<part name="categorioa" type="xsd:string"></part>
</message>
<message name="listarPropEnCategoriaResponse">
<part name="return" type="tns:dtarregloDtPropWeb"></part>
</message>
<message name="listarPropMenosIng">
<part name="titulo" type="xsd:string"></part>
</message>
<message name="listarPropMenosIngResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="hola"></message>
<message name="holaResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getFecha"></message>
<message name="getFechaResponse">
<part name="return" type="tns:dtFechaWeb"></part>
</message>
<message name="propAutomaticas"></message>
<message name="propAutomaticasResponse"></message>
<message name="getHora"></message>
<message name="getHoraResponse">
<part name="return" type="tns:dtHoraWeb"></part>
</message>
<portType name="WebServiceContPropuesta">
<operation name="altaPropuesta">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/altaPropuestaRequest" message="tns:altaPropuesta"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/altaPropuestaResponse" message="tns:altaPropuestaResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="despublicar">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/despublicarRequest" message="tns:despublicar"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/despublicarResponse" message="tns:despublicarResponse"></output>
</operation>
<operation name="extenderFinanciacionProp">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/extenderFinanciacionPropRequest" message="tns:extenderFinanciacionProp"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/extenderFinanciacionPropResponse" message="tns:extenderFinanciacionPropResponse"></output>
</operation>
<operation name="listarPropColaboradas">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropColaboradasRequest" message="tns:listarPropColaboradas"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropColaboradasResponse" message="tns:listarPropColaboradasResponse"></output>
</operation>
<operation name="comentar" parameterOrder="nick tituloP comentario">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/comentarRequest" message="tns:comentar"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/comentarResponse" message="tns:comentarResponse"></output>
</operation>
<operation name="misPropAceptadas">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/misPropAceptadasRequest" message="tns:misPropAceptadas"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/misPropAceptadasResponse" message="tns:misPropAceptadasResponse"></output>
</operation>
<operation name="misPropIngresadas">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/misPropIngresadasRequest" message="tns:misPropIngresadas"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/misPropIngresadasResponse" message="tns:misPropIngresadasResponse"></output>
</operation>
<operation name="construirDtFecha">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/construirDtFechaRequest" message="tns:construirDtFecha"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/construirDtFechaResponse" message="tns:construirDtFechaResponse"></output>
</operation>
<operation name="listarTodasLasPropuestas">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/listarTodasLasPropuestasRequest" message="tns:listarTodasLasPropuestas"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/listarTodasLasPropuestasResponse" message="tns:listarTodasLasPropuestasResponse"></output>
</operation>
<operation name="listarMisPropuestasFavoritas">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/listarMisPropuestasFavoritasRequest" message="tns:listarMisPropuestasFavoritas"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/listarMisPropuestasFavoritasResponse" message="tns:listarMisPropuestasFavoritasResponse"></output>
</operation>
<operation name="agregarPropComoFav" parameterOrder="nick titulo">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/agregarPropComoFavRequest" message="tns:agregarPropComoFav"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/agregarPropComoFavResponse" message="tns:agregarPropComoFavResponse"></output>
</operation>
<operation name="agregarEstAPropW" parameterOrder="estado titulo">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/agregarEstAPropWRequest" message="tns:agregarEstAPropW"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/agregarEstAPropWResponse" message="tns:agregarEstAPropWResponse"></output>
</operation>
<operation name="listarPropuestasWeb">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropuestasWebRequest" message="tns:listarPropuestasWeb"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropuestasWebResponse" message="tns:listarPropuestasWebResponse"></output>
</operation>
<operation name="propuestasParaCancelar">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/propuestasParaCancelarRequest" message="tns:propuestasParaCancelar"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/propuestasParaCancelarResponse" message="tns:propuestasParaCancelarResponse"></output>
</operation>
<operation name="listaCategorias">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/listaCategoriasRequest" message="tns:listaCategorias"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/listaCategoriasResponse" message="tns:listaCategoriasResponse"></output>
</operation>
<operation name="listarPropEnCategoria">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropEnCategoriaRequest" message="tns:listarPropEnCategoria"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropEnCategoriaResponse" message="tns:listarPropEnCategoriaResponse"></output>
</operation>
<operation name="listarPropMenosIng">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropMenosIngRequest" message="tns:listarPropMenosIng"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/listarPropMenosIngResponse" message="tns:listarPropMenosIngResponse"></output>
</operation>
<operation name="hola">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/holaRequest" message="tns:hola"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/holaResponse" message="tns:holaResponse"></output>
</operation>
<operation name="getFecha">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/getFechaRequest" message="tns:getFecha"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/getFechaResponse" message="tns:getFechaResponse"></output>
</operation>
<operation name="propAutomaticas">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/propAutomaticasRequest" message="tns:propAutomaticas"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/propAutomaticasResponse" message="tns:propAutomaticasResponse"></output>
</operation>
<operation name="getHora">
<input wsam:Action="http://WebServices/WebServiceContPropuesta/getHoraRequest" message="tns:getHora"></input>
<output wsam:Action="http://WebServices/WebServiceContPropuesta/getHoraResponse" message="tns:getHoraResponse"></output>
</operation>
</portType>
<binding name="WebServiceContPropuestaPortBinding" type="tns:WebServiceContPropuesta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="altaPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="despublicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="extenderFinanciacionProp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarPropColaboradas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="comentar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="misPropAceptadas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="misPropIngresadas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="construirDtFecha">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarTodasLasPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarMisPropuestasFavoritas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="agregarPropComoFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="agregarEstAPropW">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarPropuestasWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="propuestasParaCancelar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listaCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarPropEnCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarPropMenosIng">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="hola">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="getFecha">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="propAutomaticas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="getHora">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioContPropuesta">
<port name="WebServiceContPropuestaPort" binding="tns:WebServiceContPropuestaPortBinding">
<soap:address location="http://192.168.43.103:8680/ServicioP"></soap:address>
</port>
</service>
</definitions>