src/conf/xml-resources/web-service-references/ServicioU/wsdl/192.168.43.103_8580/ServicioU.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ServicioContusuario">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://192.168.43.103:8580/ServicioU?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="agregarUsu">
<part name="usuario" type="tns:dtUsuarioWeb"></part>
</message>
<message name="agregarUsuResponse"></message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="usuarioLogin">
<part name="nickUsuario" type="xsd:string"></part>
<part name="pass" type="xsd:string"></part>
</message>
<message name="usuarioLoginResponse">
<part name="return" type="tns:dtUsuarioWeb"></part>
</message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="despublicar"></message>
<message name="despublicarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existeUsuario">
<part name="nick" type="xsd:string"></part>
</message>
<message name="existeUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="infoUsuarioGeneral">
<part name="nick" type="xsd:string"></part>
</message>
<message name="infoUsuarioGeneralResponse">
<part name="return" type="tns:dtUsuarioWeb"></part>
</message>
<message name="usuarioLoginApp">
<part name="nick" type="xsd:string"></part>
</message>
<message name="usuarioLoginAppResponse">
<part name="return" type="tns:dtUsuarioWeb"></part>
</message>
<message name="ranking"></message>
<message name="rankingResponse">
<part name="return" type="tns:dtarregloDtUsuWeb"></part>
</message>
<message name="listarMisSeguidores">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarMisSeguidoresResponse">
<part name="return" type="tns:dtarregloDtUsuWeb"></part>
</message>
<message name="listarMisSeguidos">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarMisSeguidosResponse">
<part name="return" type="tns:dtarregloDtSigoAWEB"></part>
</message>
<message name="misPropFav">
<part name="nick" type="xsd:string"></part>
</message>
<message name="misPropFavResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="hola"></message>
<message name="holaResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="cargarDatosPrueba"></message>
<message name="cargarDatosPruebaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="verificaExistencia">
<part name="nick" type="xsd:string"></part>
<part name="correo" type="xsd:string"></part>
</message>
<message name="verificaExistenciaResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="crearDtFecha">
<part name="fecha" type="xsd:string"></part>
</message>
<message name="crearDtFechaResponse">
<part name="return" type="tns:dtFechaWeb"></part>
</message>
<message name="listarUsuarios">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarUsuariosResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="cargarLosSeguidosPor">
<part name="nick" type="xsd:string"></part>
</message>
<message name="cargarLosSeguidosPorResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="usuarioLoginSN">
<part name="nick" type="xsd:string"></part>
</message>
<message name="usuarioLoginSNResponse">
<part name="return" type="tns:dtUsuarioWeb"></part>
</message>
<message name="cargarLosSegPor">
<part name="nick" type="xsd:string"></part>
</message>
<message name="cargarLosSegPorResponse">
<part name="return" type="tns:dtContieneArray"></part>
</message>
<message name="listarUsuariosWeb">
<part name="nick" type="xsd:string"></part>
</message>
<message name="listarUsuariosWebResponse">
<part name="return" type="tns:dtarregloDtUsuWeb"></part>
</message>
<message name="seguir">
<part name="nickusuario" type="xsd:string"></part>
<part name="nickUsuSeguir" type="xsd:string"></part>
</message>
<message name="seguirResponse"></message>
<message name="dejarDeSeguir">
<part name="nickSeguidor" type="xsd:string"></part>
<part name="nickDejardeSeguir" type="xsd:string"></part>
</message>
<message name="dejarDeSeguirResponse"></message>
<message name="infoPropuesta">
<part name="titulo" type="xsd:string"></part>
</message>
<message name="infoPropuestaResponse">
<part name="return" type="tns:dtPropuestaWeb"></part>
</message>
<portType name="WebServiceContUsusario">
<operation name="agregarUsu">
<input wsam:Action="http://WebServices/WebServiceContUsusario/agregarUsuRequest" message="tns:agregarUsu"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/agregarUsuResponse" message="tns:agregarUsuResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/WebServiceContUsusario/agregarUsu/Fault/Exception"></fault>
</operation>
<operation name="usuarioLogin" parameterOrder="nickUsuario pass">
<input wsam:Action="http://WebServices/WebServiceContUsusario/usuarioLoginRequest" message="tns:usuarioLogin"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/usuarioLoginResponse" message="tns:usuarioLoginResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://WebServices/WebServiceContUsusario/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="despublicar">
<input wsam:Action="http://WebServices/WebServiceContUsusario/despublicarRequest" message="tns:despublicar"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/despublicarResponse" message="tns:despublicarResponse"></output>
</operation>
<operation name="existeUsuario">
<input wsam:Action="http://WebServices/WebServiceContUsusario/existeUsuarioRequest" message="tns:existeUsuario"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/existeUsuarioResponse" message="tns:existeUsuarioResponse"></output>
</operation>
<operation name="infoUsuarioGeneral">
<input wsam:Action="http://WebServices/WebServiceContUsusario/infoUsuarioGeneralRequest" message="tns:infoUsuarioGeneral"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/infoUsuarioGeneralResponse" message="tns:infoUsuarioGeneralResponse"></output>
</operation>
<operation name="usuarioLoginApp">
<input wsam:Action="http://WebServices/WebServiceContUsusario/usuarioLoginAppRequest" message="tns:usuarioLoginApp"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/usuarioLoginAppResponse" message="tns:usuarioLoginAppResponse"></output>
</operation>
<operation name="ranking">
<input wsam:Action="http://WebServices/WebServiceContUsusario/rankingRequest" message="tns:ranking"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/rankingResponse" message="tns:rankingResponse"></output>
</operation>
<operation name="listarMisSeguidores">
<input wsam:Action="http://WebServices/WebServiceContUsusario/listarMisSeguidoresRequest" message="tns:listarMisSeguidores"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/listarMisSeguidoresResponse" message="tns:listarMisSeguidoresResponse"></output>
</operation>
<operation name="listarMisSeguidos">
<input wsam:Action="http://WebServices/WebServiceContUsusario/listarMisSeguidosRequest" message="tns:listarMisSeguidos"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/listarMisSeguidosResponse" message="tns:listarMisSeguidosResponse"></output>
</operation>
<operation name="misPropFav">
<input wsam:Action="http://WebServices/WebServiceContUsusario/misPropFavRequest" message="tns:misPropFav"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/misPropFavResponse" message="tns:misPropFavResponse"></output>
</operation>
<operation name="hola">
<input wsam:Action="http://WebServices/WebServiceContUsusario/holaRequest" message="tns:hola"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/holaResponse" message="tns:holaResponse"></output>
</operation>
<operation name="cargarDatosPrueba">
<input wsam:Action="http://WebServices/WebServiceContUsusario/cargarDatosPruebaRequest" message="tns:cargarDatosPrueba"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/cargarDatosPruebaResponse" message="tns:cargarDatosPruebaResponse"></output>
</operation>
<operation name="verificaExistencia" parameterOrder="nick correo">
<input wsam:Action="http://WebServices/WebServiceContUsusario/verificaExistenciaRequest" message="tns:verificaExistencia"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/verificaExistenciaResponse" message="tns:verificaExistenciaResponse"></output>
</operation>
<operation name="crearDtFecha">
<input wsam:Action="http://WebServices/WebServiceContUsusario/crearDtFechaRequest" message="tns:crearDtFecha"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/crearDtFechaResponse" message="tns:crearDtFechaResponse"></output>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://WebServices/WebServiceContUsusario/listarUsuariosRequest" message="tns:listarUsuarios"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/listarUsuariosResponse" message="tns:listarUsuariosResponse"></output>
</operation>
<operation name="cargarLosSeguidosPor">
<input wsam:Action="http://WebServices/WebServiceContUsusario/cargarLosSeguidosPorRequest" message="tns:cargarLosSeguidosPor"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/cargarLosSeguidosPorResponse" message="tns:cargarLosSeguidosPorResponse"></output>
</operation>
<operation name="usuarioLoginSN">
<input wsam:Action="http://WebServices/WebServiceContUsusario/usuarioLoginSNRequest" message="tns:usuarioLoginSN"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/usuarioLoginSNResponse" message="tns:usuarioLoginSNResponse"></output>
</operation>
<operation name="cargarLosSegPor">
<input wsam:Action="http://WebServices/WebServiceContUsusario/cargarLosSegPorRequest" message="tns:cargarLosSegPor"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/cargarLosSegPorResponse" message="tns:cargarLosSegPorResponse"></output>
</operation>
<operation name="listarUsuariosWeb">
<input wsam:Action="http://WebServices/WebServiceContUsusario/listarUsuariosWebRequest" message="tns:listarUsuariosWeb"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/listarUsuariosWebResponse" message="tns:listarUsuariosWebResponse"></output>
</operation>
<operation name="seguir" parameterOrder="nickusuario nickUsuSeguir">
<input wsam:Action="http://WebServices/WebServiceContUsusario/seguirRequest" message="tns:seguir"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/seguirResponse" message="tns:seguirResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/WebServiceContUsusario/seguir/Fault/Exception"></fault>
</operation>
<operation name="dejarDeSeguir" parameterOrder="nickSeguidor nickDejardeSeguir">
<input wsam:Action="http://WebServices/WebServiceContUsusario/dejarDeSeguirRequest" message="tns:dejarDeSeguir"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/dejarDeSeguirResponse" message="tns:dejarDeSeguirResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/WebServiceContUsusario/dejarDeSeguir/Fault/Exception"></fault>
</operation>
<operation name="infoPropuesta">
<input wsam:Action="http://WebServices/WebServiceContUsusario/infoPropuestaRequest" message="tns:infoPropuesta"></input>
<output wsam:Action="http://WebServices/WebServiceContUsusario/infoPropuestaResponse" message="tns:infoPropuestaResponse"></output>
</operation>
</portType>
<binding name="WebServiceContUsusarioPortBinding" type="tns:WebServiceContUsusario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="agregarUsu">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="usuarioLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="despublicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="existeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="infoUsuarioGeneral">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="usuarioLoginApp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="ranking">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarMisSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarMisSeguidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="misPropFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="hola">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="cargarDatosPrueba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="verificaExistencia">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="crearDtFecha">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="cargarLosSeguidosPor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="usuarioLoginSN">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="cargarLosSegPor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarUsuariosWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="seguir">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="dejarDeSeguir">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="infoPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioContusuario">
<port name="WebServiceContUsusarioPort" binding="tns:WebServiceContUsusarioPortBinding">
<soap:address location="http://192.168.43.103:8580/ServicioU"></soap:address>
</port>
</service>
</definitions>